*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: rgb(0, 213, 255);
  /* padding: 6px; */
  display: flex;
  justify-content:space-between;
  padding: 6px;
  text-align: center;
  align-items: center;
  /* border: 2px solid red; */
}
.navbar .logo{
  width: 10%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 20px;
}
.navbar img{
  /* border: 1px solid green; */
   width: 40%;
}
.navbar .header{
  display: flex;
  width: 10%;
}
.navbar h1{
  font-size: 1.5rem;
}
.navbar span{
  color: rgb(236, 17, 17);
}
.middle{
  display: flex;
  justify-content: center;
  /* height: 120px; */
}
.search-bar{
  display: flex;
  margin: 20px auto;
  gap: 0.3rem;
}
.search-bar input{
  width: 250px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.search-bar input::placeholder{
  font-size: 1rem;
}
.search-bar button{
  padding: 6px;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
}
.search-bar button:hover{
  background-color: rgb(12, 211, 251);
  border: none;
}
.main-profile{
  display: flex;
  justify-content: center;
}
.main-profile .box{
  display: flex;
  justify-content: center;
}
.box img{
  width: 300px;
  border-radius: 10px;
}
.default-profile-main{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.default-profile-main h2{
  padding: 4px;
  margin: 10px 0;
  color: brown;
}
.default-profiles img{
  width: 300px;
  border-radius: 10px;
}
.default-profile-main .default-profiles{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
.list-item ul{
  display: flex;
  gap: 1.3rem;
}
.list-item{
  margin-right: 30px;
}
.list-item ul li{
  list-style-type: none;
}
.list-item ul li a{
  text-decoration: none;
  color: rgb(15, 14, 14);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}
.list-item ul li a:hover{
  background-color: rgb(236, 17, 17);
  color: white;
}