*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar start */
.navbar{
  background-color: rgb(0, 213, 255);
  /* padding: 6px; */
  display: flex;
  justify-content:space-between;
  padding: 6px;
  text-align: center;
  align-items: center;
  /* border: 2px solid red; */
}
.navbar .logo{
  width: 10%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 20px;
}
.navbar img{
  /* border: 1px solid green; */
   width: 40%;
}
.navbar .header{
  display: flex;
  width: 10%;
}
.navbar h1{
  font-size: 1.5rem;
}
.navbar span{
  color: rgb(236, 17, 17);
}
.navbar a{
  text-decoration: none;
}
/* ...navbar  ...*/
/* start input section */
.middle{
  display: flex;
  justify-content: center;
  /* height: 120px; */
}
.search-bar{
  display: flex;
  margin: 20px auto;
  gap: 0.3rem;
}
.search-bar input{
  width: 250px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.search-bar input::placeholder{
  font-size: 1rem;
}
.search-bar button{
  padding: 6px;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
}
.search-bar button:hover{
  background-color: rgb(12, 211, 251);
  border: none;
}
/* start Main profile */
.main-profile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  /* border: 1px solid green; */
}
.main-profile .box{
  display: flex;
  width: 37%;
  height: auto;
  gap: 1rem;
  justify-content: space-between;
}
.box img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.box .user-details{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.box .user-details h2{
  width: 150%;
}
.repositoriesDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.repositoriesDiv .repository {
  width: 350px;
  padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    margin: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}
.repositoriesDiv .repository:hover{
  transform: translateY(-5px);
  /* transform: scale(1.2, 1.2); */
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  border-right: 2px solid  rgb(236, 17, 17);
  border-bottom: 2px solid  rgb(236, 17, 17);
}
/* designing repository paragraph */
.repository p {
  font-size: 14px;
  color: #f20c1f;
  margin: 10px 0;
  font-weight: 700;
}

/* designing repository link  */
.repository a {
  color:#100cf2;
  text-decoration: none;
  margin: 5px 0;
  font-size: 17px;
  font-weight: 700;
}

/* designing repository link hover */
.repository a:hover {
  text-decoration: underline;
}
/* Default profile */
.default-profile-main{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.default-profile-main h2{
  padding: 4px;
  margin: 10px 0;
  color: brown;
}
.default-profiles img{
  width: 300px;
  border-radius: 10px;
}
.default-profile-main .default-profiles{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
.server{
  text-align: center;
  margin: 100px auto;
  color: #df4c58;
}
.list-item ul{
  display: flex;
  gap: 1.3rem;
}
.list-item{
  margin-right: 30px;
}
.list-item ul li{
  list-style-type: none;
}
.list-item ul li a{
  text-decoration: none;
  color: rgb(15, 14, 14);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}
.list-item ul li a:hover{
  background-color: rgb(236, 17, 17);
  color: white;
}
/* Github */
.Github{
  border: 2px solid white;
  text-align: center;
  padding: 10px 30px;
  margin:10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.react-activity-calendar {
  --react-activity-calendar-level-0:rgb(194, 210, 217) !important;
}
